/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Header/Controls/style.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_searchbar__QW06E {
  font-family: var(--font-publicSans);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 14px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 9999px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
}
.style_searchbar__QW06E::placeholder {
  font-size: 0.875rem;
  color: #8d7f7f;
}
.style_searchbar__QW06E:focus {
  outline: none;
}
.style_searchbar__QW06E::-webkit-search-cancel-button {
  display: none;
}
