/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Profile/Job-Seeker/EditProfile/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_input__3gKCN {
  font-family: var(--font-publicSans);
  width: 100%;
  border: none;
  border-bottom: 1px solid #999999;
  font-size: 16px;
  line-height: 1.5;
}
.style_input__3gKCN::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #9ca3af;
}
.style_input__3gKCN:focus {
  outline: none;
}

.style_textArea__MH_BT {
  font-family: var(--font-publicSans);
  padding: 12px;
  min-height: 136px;
  max-height: 136px;
  margin-top: 0.75rem;
  border: 2px solid #999999;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  border-radius: 0.5rem;
  resize: none;
  font-family: inherit;
}
.style_textArea__MH_BT:focus {
  outline: none;
}
